
{% extends 'hotel/base.html' %}

{% block content %}
    <!-- Carousel Section -->
    {% include 'hotel/sections/carousel.html' %}

    <!-- Main Info Section -->
    {% include 'hotel/sections/main_info.html' %}

    <!-- General Cards Section -->
    {% include 'hotel/sections/general_cards.html' %}

    <!-- Gallery Section -->
    {% include 'hotel/sections/gallery.html' %}

    <!-- Rooms and Suites Section -->
    {% include 'hotel/sections/rooms_and_suites.html' %}

    <!-- Wedding Venues Section -->
    {% include 'hotel/sections/wedding.html' %}

    <!-- Banquet Halls Section -->
    {% include 'hotel/sections/banquet.html' %}

    <!-- Restaurant Section -->
    {% include 'hotel/sections/restaurant.html' %}

    <!-- Special Offers Section -->
    {% include 'hotel/sections/special_offers.html' %}

    <!-- FAQ Section -->
    {% include 'hotel/sections/faq.html' %}

    <!-- Blogs Section -->
    {% include 'hotel/sections/blogs.html' %}
{% endblock %}